includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    # The level 9 is the highest level
    level: 1

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    databaseMigrationsPath:
      - database/migrations